.listItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
    width: 400px;
    text-align: left;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 20px;
}

.listItem table td {
    padding: 5px;
    width: 200px;
}